<!doctype html>
<html lang="en">

  <header>Yoga Journal 
      <div>
        <img src="img/about-left.jpg" alt="Yoga Journal">
      </div>

      <nav>
        <ul>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </nav>
  </header>

  <!-- Hero 1 -->
  <section>
  </section>

  <!-- Product Design -->
  <section>
    <div>
      <img src="img/yoga 2.jpg" alt="Need tickets?">
    </div>

    <div>
      <ul>
        <li><img src="img/yoga 3.jpg" 
        <li><img src="img/yoga 4.jpg" 
      </ul>
    </div>
  </section>


    <article>
      <img src="img/yoga 5.jpg"
      <h1>New Mask Mandate.</h1>
      <p> With the amount of Covid-19 cases starting to decrease and platau, we are enforcing a mask optional policy for this time...</p>
    </article>
  </section>

  <!-- Partners -->
  <section>
    <article>
      <img src="img/yoga 6.jpg"
      <h2>Special Classes Coming Up</h2>
      <p>We have an accupuncturist coming on Saturday April 9th...</p>
    </article>

  <section>
    <article>
      <img src="img/yoga 7.jpg"
      <h2>Summer Yoga Intensive</h2>
      <p>Surround yourseld in daily yoga practice, meditation and peace on our upcoming summer yoga intensive retreat...</p>
    </article>
  </section>

    <!-- Partners -->
    <section>
      <article>
        <img src="img/yoga 8.jpg"
        <h2>Singing Bowl</h2>
        <p>Come learn the history and importance of singing bowls in our yoga practice...</p>
      </article>

        <!-- Partners -->
  <section>
    <article>
      <img src="img/yoga"
      <h2>Succulent Potting</h2>
      <p>Come meet all of us at our monthly get together!</p>
    </article>



  <!-- Hero 2-->
  <section>
    <img src="img/heroes/hero-2.jpg" alt="People in an Office Meeting Hero">
  </section>

  <!-- Request Access Form-->
  <section>
    <article>
      <h2>Request access to our closed beta</h2>
      <p>Drop your email below to join the waitlist</p>
    </article>
    
    <div>
      <form action="#">
        <input type="text">
        <button>Request Invite</button>
      </form>
    </div>    
  </section>

  <footer>
    <div>
      <img src="img/logo/logo.svg" logo="Site Logo">
    </div>

    <h3>Made by @cora</h3>

    <p>© Copyright 2022</p>
  </footer> <!-- <header>
<script src="js/scripts-min.js"></script>
</body>
</html>
